.app {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 3rem;
  flex-direction: column;
}



.guess-me {
  border: 2px solid black;
  width: 300px;
  height: 300px;
}


.btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrong {
  color: red;
  font-size: 2rem;
  font-weight: 800;
}

.correct {
  color: green;
  font-size: 2rem;
  font-weight: 800;
}